<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href={{ asset("theme/css/bootstrap.min.css") }} rel="stylesheet">
        <link href={{ asset("theme/css/font-awesome.min.css") }} rel="stylesheet">
        <link href={{ asset("theme/css/animate.min.css") }} rel="stylesheet">
        <link href={{ asset("theme/css/lightbox.css") }} rel="stylesheet">
        <link href={{ asset("theme/css/main.css") }} rel="stylesheet">
        <link href={{ asset("theme/css/responsive.css") }} rel="stylesheet">

        <link rel="shortcut icon" href= {{ asset("theme/images/ico/favicon.ico") }}>
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href={{ asset("theme/images/ico/apple-touch-icon-144-precomposed.png") }}>
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href={{ asset("theme/images/ico/apple-touch-icon-114-precomposed.png") }}>
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href={{ asset("theme/images/ico/apple-touch-icon-72-precomposed.png") }}>
        <link rel="apple-touch-icon-precomposed" href={{ asset("theme/images/ico/apple-touch-icon-57-precomposed.png") }}>

    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="theme/js/html5shiv.js"></script>
    <script src="theme/js/respond.min.js"></script>

    <script type="text/javascript" src="theme/js/jquery.js"></script>
    <script type="text/javascript" src="theme/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="theme/js/lightbox.min.js"></script>
    <script type="text/javascript" src="theme/js/wow.min.js"></script>
    <script type="text/javascript" src="theme/js/main.js"></script>
{% endblock %}
</body>
</html>
